<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/err_page/error.jsp</location>
	</error-page>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.itcast.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>adminLogin</filter-name>
		<filter-class>com.feng.BookStore.admin.web.filter.AdminLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminLogin</filter-name>
		<url-pattern>/adminjsp/admin/*</url-pattern>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.feng.BookStore.user.web.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.feng.BookStore.category.web.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.feng.BookStore.book.web.servlet.BookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CartItemServlet</servlet-name>
		<servlet-class>com.feng.BookStore.cart.web.servlet.CartItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.feng.BookStore.order.web.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AminServlet</servlet-name>
		<servlet-class>com.feng.BookStore.admin.admin.AminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<servlet-class>com.feng.BookStore.admin.category.web.servlet.AdminCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminBookServlet</servlet-name>
		<servlet-class>com.feng.BookStore.admin.book.web.servlet.AdminBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminAddBookServlet</servlet-name>
		<servlet-class>com.feng.BookStore.admin.book.web.servlet.AdminAddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AdminOrderServlet</servlet-name>
		<servlet-class>com.feng.BookStore.admin.web.servlet.AdminOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartItemServlet</servlet-name>
		<url-pattern>/CartItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AminServlet</servlet-name>
		<url-pattern>/AminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<url-pattern>/admin/AdminCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminBookServlet</servlet-name>
		<url-pattern>/admin/AdminBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAddBookServlet</servlet-name>
		<url-pattern>/admin/AdminAddBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminOrderServlet</servlet-name>
		<url-pattern>/admin/AdminOrderServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>